body{
    background-color: rgb(67, 66, 66);
    color: white;
}
div{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 50%;
    margin-left: 25%;
}
button{
    margin: 10px;
    padding: 5px 30px;
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 5px;
}